@import '/src/style/variables.scss';

.product-page {
	font-family: 'Lato';
	&__title-container {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		align-items: center;
		margin-bottom: 20px;
		@media (max-width: 575.98px) {
			text-align: center;
			flex-direction: column;
		}
	}
	&__title {
		font-style: normal;
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		@media (max-width: 991.98px) {
			font-size: 32px;
		}
		@media (max-width: 767.98px) {
			font-size: 28px;
		}
	}
	&__art-text {
		color: $main-color-grey-700;
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		white-space: nowrap;
	}
	&__art-number {
		margin-left: 4px;
		font-weight: 400;
	}
	&__desc {
		border-top: 1px solid #e5e8ed;
		padding-top: 20px;
		display: flex;
		gap: 105px;
		position: relative;
		@media (max-width: 767.98px) {
			gap: 24px;
		}
		@media (max-width: 449.98px) {
			flex-direction: column;
		}
	}
	&__img-container {
		flex: 1 1 50%;
	}
	&__img {
		width: 100%;
	}
	&__stars-rating {
		width: 70px;
		height: 14px;
		background: url('/img/outline-star.svg') repeat-x 0 0/14px;
		&-fill {
			height: 14px;
			background: url('/img/filled-star.svg') repeat-x 0 0/14px;
		}
	}
	&__props-container {
		flex: 1 1 50%;
		display: flex;
		justify-content: space-between;
		width: 100%;
		@media (max-width: 449.98px) {
		}
	}
	&__props-container-right {
		@media (max-width: 575.98px) {
			left: 8px;
			top: 28px;
			position: absolute;
		}
		@media (max-width: 449.98px) {
		}
	}
	&__props-container-left {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (max-width: 767.98px) {
			flex: 0 0 auto;
			min-width: 250px;
			align-items: flex-start;
		}
	}
	&__props-color-container {
		display: flex;
		gap: 20px;
		text-transform: capitalize;
	}
	&__props-title {
		margin-bottom: 8px;
		text-transform: capitalize;
	}
	&__price {
	}
	&__props-selected-color-text {
		color: $main-color-grey-600;
	}
}
