$main-color-grey-900: #1e212c;
$main-color-grey-500: #b3b7bc;
$main-color-grey-400: #d7dadd;
$main-color-grey-800: #424551;
$main-color-grey-600: #9a9ca5;
$main-color-grey-700: #787a80;

$mail-color-light-gray: rgba(255, 255, 255, 0.6);
$main-color-danger: #ff4242;
$main-color-success: #03cea4;
$main-color-primary: #17696a;
