.auth-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #00000060;
		z-index: 1;
	}
	&__wrapper {
		height: 100%;
		background: #fff;
		display: flex;
		flex-direction: column;
		color: #000;
		border-radius: 4px;
		transition: right 0.2s;
		z-index: 2;
		padding: 24px 24px 24px 24px;
	}
	&__close {
		margin-left: auto;
	}
}
