@import "../../style/variables.scss";

.top-categories {
    color: $main-color-grey-800;
    margin-top: -60px;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 30px;
    justify-content: center;
    &__image {
        width: 390px;
        height: 390px;
        object-fit: cover;
    }

    &__text {
        margin-top: 16px;
        text-align: center;
    }
}
